<div class="breadcrumb-wrap">
  <img src="assets/img/breadcrumbbg.jpg" class="bg-img">
  <div class="overlay-bg"></div>

  <div class="overlay-content">
    <h1>Wishlist</h1>
    <h6>Checkout with your wish item or edit</h6>
  </div>
</div>

<section class="all-product">
  <!--loader -->
  <div class="preloader-wrap waiting" *ngIf="loading === 0 ">
    <div class="loader waiting">
      <span class="loader-item"></span>
      <span class="loader-item"></span>
      <span class="loader-item"></span>
      <span class="loader-item"></span>
      <span class="loader-item"></span>
    </div>
  </div>
  <!-- loader -->
  <!-- no data found -->
  <div class="empty-message" *ngIf="loading === 2 ">
    <i class="fa fa-5x fa-frown-o" aria-hidden="true"></i>
    <h5>
      <br>Sorry
      <br>
      <br> Food Item is not available in this List. </h5>
  </div>
  <!-- No data found end -->
  <!-- container -->
  <div class="container" *ngIf="allItemsList.length > 0">
    <br>
    <br>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of allItemsList; let i of index ">
        <div class="card">
          <div class="view overlay hm-black-light">
            <img class="img-fluid" src="{{item.thumb}}" alt="image">

            <div class="mask"></div>
            <button class="btn" (click)="viewItem(item._id) ">View</button>
            <button class="btn remove" (click)="removeFavourit(item._id)">remove</button>
          </div>
          <!-- <div class="offer">-{{item.thumb.offerPercentage}}%</div> -->

          <div class="card-body text-center">
            <h6 class="title">{{item.title}}</h6>
            <p> {{item.description}} </p>
            <!--Rating-->
            <!--  <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul> -->
            <!-- <p class="price"><span class="discount">{{item.thumb.price[0].value}}</span>  -->
            <!-- {{item.thumb.price[0].specialPrice | number}} </p> -->
          </div>
        </div>
      </div>
      <!-- col-end -->
    </div>
    <!-- row-end -->
    <!-- pagination -->
    <div class="row">
      <div class="col-md-12">
        <nav>
          <ul class="pagination float-md-right">
            <li class="page-item">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link">1</a>
            </li>
            <li class="page-item">
              <a class="page-link">2</a>
            </li>
            <li class="page-item">
              <a class="page-link">3</a>
            </li>
            <li class="page-item">
              <a class="page-link">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination-end -->
      </div>
      <!-- col-end -->
    </div>
    <!-- row-end -->
    <!-- pagination end -->

  </div>
  <!-- container-end -->
</section>
<!---allproduct-section-end -->