<section class="form-wrapper">
  <img src="assets/img/login.png" class="bg-img">
  <div class="bg-overlay"></div>
  <div class="form-content" *ngIf="!isEmailVerified">
    <img src="assets/img/logo.png">
    <p class="title">enter you email address to get link to change password.</p>
    <form (ngSubmit)="verifyEmail(emailForm)" #emailForm="ngForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" class="form-control" name="email" ngModel required email id="email" #email="ngModel">
        <span class="help-block" *ngIf="email?.touched && email?.errors?.required" style="color: red">Please enter your email</span>
        <span class="help-block" *ngIf="email?.touched && email?.errors?.email" style="color: red">Please enter a valid email</span>
      </div>
      <button class="btn btn-submit btn-block" [disabled]="!emailForm.valid">Verify Email</button>
    </form>
    <p class="or">
      <span></span>OR
      <span></span>
    </p>
    <button class="btn btn-info btn-block" [routerLink]="['/login']">go to login</button>
  </div>
  <div class="form-content" *ngIf="isEmailVerified">
    <p class="text-left" style="color: red">A link is sent to {{email}}.Follow the link to reset your password.</p>
    <button class="btn btn-default" routerLink="/login">Login</button>
  </div>
</section>