.upload{
    position: absolute;
      margin-top: -2rem;
      opacity: -0.3;
  }
  .icon-upload{
    margin-left: 34px;
    // position: absolute;
    // margin-top: -23px;
  }
  .check-icon{ color: #1aacda;}
  .upload-button{
    margin-top: 5px;
  }
  .thumb-upload{
    // height: 80% !important;
    // max-height: 10rem !important;
    // width:100% !important;
    max-width: 212px !important;
    max-height: 100px !important;
  
  }